@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<p class="view-title">Add New Stylist</p>
<hr />

@using (Html.BeginForm())
{
  <div class="form-group">
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @required = true})
  </div>
  <div class="form-group">
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @required = true})
  </div>
  <input type="submit" value="Add Stylist" class="btn btn-success" />
}