@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<p class="view-title">Delete Stylist</p>
<p class="view-title">@Model.FirstName @Model.LastName</p>
<hr />

@using (Html.BeginForm())
{
  <input type="submit" value="Confirm" class="btn btn-danger" />
}