@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Client

<p class="view-title">Client Details</p>
<p class="view-title">@Model.FirstName @Model.LastName</p>
<hr />

<p class="page-link">@Html.ActionLink("Edit Client", "Edit", new {id = Model.ClientId})</p>
<p class="page-link">@Html.ActionLink("Remove Client", "Delete", new {id = Model.ClientId})</p>